{% extends "templates/loading.html" %}

{% block main %}
<h4 class="text-center logo-subtext"><a href="/">Flatiron Institute</a></h4></h4>
<div id="loader"></div>
<div id="loader-text">
	<p>Loading your Binder...</p>
</div>

<div id="log-container" class="panel panel-default on-build hidden row">
  <div id="toggle-logs" class="panel-heading">
    Build logs
    <button class="btn btn-link btn-xs pull-right">show</button>
  </div>
  <div class="panel-body hidden">
    <div id="log"></div>
  </div>
</div>
{% endblock main %}
